<div 
cdkDropList
(cdkDropListDropped)= "drop($event)"
class="max-w-screen-md mx-auto grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4 p-4 grid-flow-row-dense">
    @for (image of myGallery(); track image.id){
      <div cdkDrag 
      class="w-full h-full flex"
      [class.lg:col-span-2]="image.id === featuredImageId()"
      [class.lg:row-span-2]="image.id === featuredImageId()">
          <app-image-item 
          [imageData] = "image" 
          [isFeatured]= "image.id === featuredImageId()" 
          class="w-full h-full flex" 
          (deleteImage)="removeImage(image.id)"/>
      </div>
    }
</div>

