<div class="image-card w-full h-full relative flex flex-col" [class.featured]="isFeatured()">
  
  <img [src]="imageData().src" 
       [alt]="imageData().alt" 
       width="300" 
       height="300" 
       class="w-full h-full object-cover block"
       [attr.aria-label]="'Image number ' + imageData().id + ': ' + imageData().alt">
  
  <button 
    (click)="onDeleteClick($event)"
    [attr.aria-label]="'Delete image number ' + imageData().id"> 
    <i class="absolute top-2 right-2 transition-colors cursor-pointer z-10 
    flex items-center justify-center pi pi-trash text-xs 
    text-white hover:text-black
    bg-gradient-to-r from-purple-500 to-pink-500
    hover:bg-gradient-to-l
    focus:ring-4 focus:outline-none focus:ring-purple-200
    dark:focus:ring-purple-800
    rounded-base
    px-0.5 py-0.5 text-center leading-5">
  </i>
  </button>
</div>