<div class="image-card w-full h-full relative flex flex-col group" 
[class.featured]="isFeatured()" 
[class.selected-border]="isSelected()"
(click)="onImageClick()">
  <img [src]="imageData().src" 
       [alt]="imageData().alt" 
       width="300" 
       height="300" 
       class="w-full h-full object-cover block"
       [attr.aria-label]="'Image number ' + imageData().id + ': ' + imageData().alt">
  
  <button 
    (click)="onDeleteClick($event)"
    [attr.aria-label]="'Delete image number ' + imageData().id"
    class="absolute top-2 right-2 z-10 
           w-5 h-5 flex items-center justify-center text-center
           text-white hover:text-black
           bg-gradient-to-r from-purple-500 to-pink-500
           hover:bg-gradient-to-l
           focus:ring-4 focus:outline-none focus:ring-purple-200
           rounded-md cursor-pointer transition-colors shadow-md
           lg:opacity-0 lg:group-hover:opacity-100 transition-opacity duration-200">
           
    <i class="pi pi-trash text-xs shrink-0">
  </i>
  </button>
</div>